@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900';

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c7c7c7;
}

.container {
    width: 600px;
    height: 600px;
    background-color: #fff;
    box-sizing: content-box;
    border: 10px solid #8B4513;

    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.container div {
    width: calc(100% / 16); 
    height: calc(100% / 16); 
  }

/* BUTTON STYLING */
.buttons {
    margin-right: 50px;
    background-color: #8B4513  ;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}   

.division {
    padding: 5px;
    margin: 15px;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 5px;
}


button {
    margin: 10px 0 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 2px black;
    font-size: 25px;
    font-weight: 600;

    color: #fff;
}

button:hover {
    transform: scale(1.05);
}



/* NEW AND CLEAR */

.clear {
    background-color: #E74C3C;
}
.clear:hover {
    background-color: #C0392B;
}

.new {
    background-color: #2ECC71;
}
.new:hover {
    background-color: #27AE60 ;
}

/* REST OF BUTTONS */ 

.color-choices button, .effects button {
    background-color: #0a050036;
}
